<header>
   <div class="container">
      <nav>
         <ul class="menu">
            <li><a href="/">Home</a></li>
            {% if app.user %}
               <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
               <li><a href="{{ path('app_login') }}">Login</a></li>
               <li><a href="{{ path('app_register') }}">Register</a></li>
            {% endif %}
         </ul>
      </nav>
   </div>

</header>
