{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="home">

    <h2><b>Follow the link to the posts   - <a href="{{ path('app_list') }}" class="btn btn-info">Posts</a>  </b></h2>

</div>
{% endblock %}
